div {
  border: 1px solid black;
  background-color: red;
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
}
div:hover {
  rotate: scaleY(0.5);
  transition: 4s;
  /* width: 200px;
  height: 200px; */
}
.dtransfrom {
  border: 1px solid black;
  background-color: red;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}
.dtransfrom:hover {
  transform: rotateX(180deg);
  transition: 4s;
}
