.box {
  width: 200px;
  height: 200px;
  background-color: yellow;
  transition: width 1s;
}
.box:hover {
  width: 300px;
}
.box1 {
  width: 200px;
  height: 200px;
  background-color: green;
  transition: 1s;
}
.box1:hover {
  width: 300px;
  transform: rotate(180deg);
}
